.input {
  display: flex;
  justify-content: space-between;
  width: 95%;
  align-items: center;
}

.password {
  flex-grow: 1;
  font-weight: 700;
  color: rgba(128, 128, 128, 0.741);
  letter-spacing: 1px;
  font-size: 18px;
  border: transparent;
  caret-color: transparent;
  background: #252525e0;
  padding: 10px 0;
}

.hasVal {
  flex-grow: 1;
  font-weight: 700;
  color: #74f693;
  letter-spacing: 1px;
  font-size: 18px;
  border: transparent;
  caret-color: transparent;
  background: #252525e0;
  padding: 10px 0;
}

.password:focus {
  border: transparent;
  outline: transparent;
}

.copy {
  position: relative;
}

.copyBtn {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
}

.copyText {
  position: absolute;
  width: 170px;
  background: #736c6c94;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  top: -44px;
  left: -76px;
}
.copyText::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #736c6c94;
  position: absolute;
  bottom: -10px;
  left: 50%;
  clip-path: polygon(55% 61%, 0 0, 100% 0);
}
