.container {
  display: flex;
  flex-direction: column;
  width: 25rem;
  justify-content: center;
  align-items: center;
  background-color: rgba(90, 89, 89, 0.426);
  margin-top: 50%;
}
@media screen and (min-width: 300px) and (max-width: 420px) {
  .container {
    width: 18rem;
  }
}
.divider {
  width: 100%;
  background: #000;
  height: 10px;
}
