.container {
  display: flex;
  flex-direction: column;
  width: 25rem;
  justify-content: center;
  align-items: center;
  background-color: rgba(90, 89, 89, 0.426);
  margin-top: 50%;
}
@media screen and (width: 425px) {
  .container {
    width: 23rem;
  }
}
@media screen and (width: 375px) {
  .container {
    width: 21rem;
  }
}

.divider {
  width: 100%;
  background: #000;
  height: 10px;
}
